.faq {
  position: relative;
  z-index: 1;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
}
.head{
  z-index: 1;
  color: white;
  text-shadow: 3px 2px red;
  font-family: italic;
  font-size: 50px;
}